#  pip install -r requirements.txt
#  sudo apt-get install python3-pip
#  pip3 install flask_cors
#  pip3 install flask
flask == 1.1.1
flask-cors == 3.0.8
PyJWT == 1.7.1
pymongo == 3.9.0
dnspython == 1.16.0
google-cloud-storage == 1.20.0
awscli == 1.16.253
